@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(17, 18, 18);
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid rgb(117, 112, 112);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
header a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: larger;
    
}

a:nth-child(2), a:nth-child(3), a:nth-child(5){
    border-bottom: none;
    transition: all 0.1s ease-in;

}
a:nth-child(2):hover{
    border-bottom: 4px solid rgb(234,0,2);
    color: rgb(234,0,2);

}
a:nth-child(3):hover{
    border-bottom: 4px solid rgb(234,0,2);
    color: rgb(234,0,2);


}
a:nth-child(5):hover{
    border-bottom: 4px solid rgb(234,0,2);
    color: rgb(234,0,2);

}
a:nth-child(2):focus{
    color: whitesmoke;
}
a:nth-child(3):focus{
    color: whitesmoke;
}
a:nth-child(5):focus{
    color: whitesmoke;
}
a:nth-child(6){
    margin-left: auto;
    background-color: rgb(234,0,2);
    padding: 6px 12px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
a:nth-child(6):hover{
    background-color:rgba(234, 0, 4, 0.564);
}

a:nth-child(7){
    background-color: rgb(234,0,2);
    padding: 6px 12px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 25px;
    transition: all 0.5s ease-in-out;
}
a:nth-child(7):hover{
    background-color: rgba(234, 0, 4, 0.564);
}
a:nth-child(2){
    margin-left: auto;
}
header > input{
    margin-left: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgb(240, 186, 186);
}
header > a > img{
    margin-left: 30px;
    animation-name: OGA;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
@keyframes OGA{
    0%{
        margin-left: 30px;
    }
    90%{
        margin-left: 35px;
    }
}
div.main{
    display: flex;
    flex-wrap: unset;
    margin-top: 50px;
}
div.left > img:last-of-type{
    margin-top: -60px;
}
div.right{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    margin-left: -25px;
}
div.right h1{
    font-size: 40px;
    color: rgb(234,0,2);
}
div.right p{
    margin-top: 20px;
    line-height: 1.3;
    font-size: 1.1rem;
    color: rgb(17, 18, 18);
}
div.right h4{
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgb(17, 18, 18);
}
.button{
    margin-top: 40px;
    padding: 12px;
    text-decoration: none;
    color: white;
    background-color: rgb(234,0,2);
    width: fit-content;
    font-size: 1.4rem;
    border-radius: 13px;
    transition: all 0.5s ease-in-out;
}
.button:hover{
    background-color: rgba(234, 0, 4, 0.564);
}
.button:focus{
    background-color: rgb(17, 18, 18);
}
p span{
    color: rgb(234,0,2);
    font-size: 1.3rem;
}
.svg{
    position: relative;
    top: -120px;
    z-index: -2;
}
div.ads{
    display: flex;
    justify-content: space-evenly;

}
.heading2{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 25px;
    color: rgb(234,0,2);
    font-size: 1.8rem;
}
div h2{
    color:rgb(65,64,64);
}
div p{
    color:rgb(65,64,64);
    margin-top: 11px;
}
.icons{
    margin-bottom: 10px;
    background-color: rgba(234, 0, 4, 0.221);
    width: fit-content;
    padding: 8px;
    border-radius: 50%;
}
div.ads2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
}
div.ads2 p{
    background-color: rgba(65, 64, 64, 0.418);
    color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px rgba(65, 64, 64, 0.678);
}
div.ads2 p:first-of-type{
    margin-left: 50px;
}
div.cars{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgba(65, 64, 64, 0.751);
    width: 95%;
    margin-left: 30px;
    padding: 60px 20px;
    border-radius: 20px;
    z-index: -6;
}
div.cars div{
    background-color:  rgba(17, 18, 18, 0.628);
    padding: 15px 10px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.674);
}
div.carssec p:first-of-type{
    color: rgb(247, 211, 211);
}
.carsimg{
    height: 200px;
}
div.carssec p:nth-of-type(2){
    color: rgba(255, 255, 255, 0.724);
}
div.carssec p:nth-of-type(3){
    color: rgba(255, 255, 255, 0.724);
}
div.carssec p:nth-of-type(4){
    color: rgba(255, 255, 255, 0.724);
}
.available{
    position: relative;
    top: 180px;
    left: 90px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.667);
    width: fit-content;
    z-index: 0;
}
.dropdown-content{
    display: none;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    background-color: blueviolet;
    position: relative;
}
button{
    background-color: red;
    margin-top: 4px;
}